version: "3.9"

services:
  vue:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev -- --host

    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: package.json
